.login-view {
	background-color: lightslategray;
	border-radius: 10px;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.56);
	height: 500px;
	width: 450px;
	padding: 2rem;

	&__title {
		margin: 0;
		font-size: 1.5rem;
	}

	&__subtitle {
		font-style: italic;
	}

	&__text {
		font-style: italic;
	}
}
